<div class="text-layout">
  <h1>DecimalPipe y Porcentaje</h1>
  <p>Pipes incluidos en Angular - Usualmente en el Common Module.</p>
</div>

<div class="grid">

    <div class="col-4">
        <p-card
            header="Ventas netas"
            subheader="Año actual">
                <i class="pi pi-dollar"></i>
                <!-- Pipe decimal -->
                <!-- {{ valor }} : '1 (numero entero completo), valor.valor (decimales)' -->
                {{ ventasNetas | number: '1.2-2' }}
        </p-card>
    </div>

    <div class="col-4">
      <p-card header="Ventas brutas" subheader="Año actual">
       {{ (ventasNetas + 2498418) | currency: 'COP': 'symbol-narrow': '1.0-2' }}
      </p-card>
    </div>

    <div class="col-4">
      <p-card header="Ganancia %" subheader="Año actual">
        {{ porcentaje | percent: '2.2-2' }} </p-card>
    </div>

</div>